.sign-in{
  width: 100%;
  padding-bottom: 30px;
  background-image: linear-gradient(rgb(101, 26, 221), rgb(114, 11, 184));
}

form{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 85px;
  width: 29%;
  height: 575px;
  background-color: whitesmoke;
  border-radius: 18px;
}

form div{
  margin-bottom: 30px;
}

.content{
  padding-top: 1px;
}

form h1{
  margin-top:14px;
  color: rgb(31, 30, 30);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group hr{
  width: 80%;
 color:rgb(185, 185, 185);
 border: 1px solid rgb(185, 185, 185);
}

.form-group input{
  width: 80%;
  border: none;
  background-color: whitesmoke;
  height: 28px;
}
.form-group input:focus{
  outline: none;
}

.form-group label{
  width: 100%;
  display: block;
  margin-left: -122px;
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(44, 42, 42);
}

.forgot-password{
  width: 100%;
  display: flex;
  margin-top: -25px;
}

.forgot-password .remember-me{
  display: inline-flex;
  width: 50%;
  padding-left: 12px;
  margin-left: 22px;
  margin-top: 3px;
}

.remember-me p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(104, 101, 101);
  margin-top: 0px;
}

.forgot-password .forgot{
  display: flex;
  justify-content: left;
  width: 50%;
}

.forgot-password a{
  margin-left:14px;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(104, 101, 101);
}

.others-network{
  margin-top: -15px;
}

.others-network img{
  width: 234px;
  height: 47px;
  padding: 0px;
  margin: -7px;
}

.register1{
  margin-top: 85px;
}

 .register1 a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(177, 10, 177);
}

.register1 a:hover{
  color: rgb(85, 7, 85);
}

.sign-in form p{
  color: rgb(26, 25, 25);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Button */

.login-button{
  margin-top: -40px;
}

.login-button button{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
  width: 325px;
  height: 30px;
  border: none;
  color: white;
  border-radius: 17px;
  background-image: linear-gradient(rgb(108, 33, 230), rgb(121, 16, 190));
}

.login-button button:hover{
  background-image: linear-gradient(rgb(85, 18, 194), rgb(95, 12, 151));
}

